/.KnowledgeDslDescriptionLabelProvider.java._trace
/.KnowledgeDslDescriptionLabelProvider.xtendbin
/.KnowledgeDslLabelProvider.java._trace
/.KnowledgeDslLabelProvider.xtendbin
/KnowledgeDslDescriptionLabelProvider.java
/KnowledgeDslLabelProvider.java
